:root {
--primary-color: #087f5b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #868e96;
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    justify-content: center;
}

.pagination {
    align-items: center;
    display: flex;
    gap: 12px;
    margin-top: 100px;
}

.btn {
    background: none;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    height: 48px;
    width: 48px;
}

.btn:hover {
    background: var(--primary-color);
    transition: background 0.5s;
}

.btn:hover .btn-icon {
    stroke: #fff;
    transition: all 0.5s;
}

.btn-icon {
    stroke: var(--primary-color);
    width: 24px;
}

.btn-page {
    align-items: center;
    border-radius: 100%;
    color: #343a40;
    display: flex;
    height: 36px;
    justify-content: center;
    text-decoration: none;
    width: 36px;
}

.btn-page:hover {
    background: var(--primary-color);
    color: #fff;
    transition: all 0.5s;
}
